<!DOCTYPE html>
<html>
<head>
	<title>Job Applications Organizer</title>
	<meta name="google-signin-client_id" content="643118581198-1ahtvd2u2o98l2hur59mrctu60km0gb7.apps.googleusercontent.com">
</head>
<body>
	<div>Hey</div>
	<div class="g-signin2" data-onsuccess="onSignIn"></div>
	<a href="#" onclick="signOut();">Sign out</a>

	<!-- scripts -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>